# Obsidian device-specific
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspace.json.bak
.obsidian/cache
.obsidian/plugins/*/data.json

# Obsidian trash
.trash/

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
